@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:500|Noto+Serif+JP:300|PT+Sans');
/* CSS Document */

#top{
	
 	background-color:#fff;
	color: #aaa;
	display: inline-block;
	width:100%;
	height: 100vh;
}
.wrap{
	position: relative;
	text-align: center;
	width: 100%;
}

.top{
	text-align: center;
	width: 100%;
	height: 91vh;
}

.title{
	position: relative;
	font-family: 'PT Sans', sans-serif;
	width: 50%;
	font-size: 1.8rem;
	letter-spacing: 1rem;
	margin:0 25.5vw 4rem;
	padding-top: 45vh;
	z-index: 9999;
}

.subtitle{
	position: relative;
	font-family: 'PT Sans', sans-serif;
	width: 50%;
	font-size: 1.2rem;
	letter-spacing: .8rem;
	margin: 0 25.5vw;
	z-index: 9999;
}


/*背景動画*/
#container {
    position: absolute;
    top: 0;
    right: .5vw;
    bottom: 0;
    left: auto;
    overflow: hidden;
	width: 98vw;
	height: 100vh;
}
#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


#video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#play img {
    width: 100px;
}
#pause img {
    width: 90px;
}
#pause {
    display: none;
}

@media (min-width: 768px) {
    #video_controls {
        display: none;
    }
}

@supports (-ms-ime-align: auto) {
    #background_video {
        height: auto;
    }
}

/*背景動画ここまで*/

.sectionP{
	height: 120vw;
}

.sectionTitle{
	font-family: 'Cormorant Unicase', serif;
	font-size: 1.2rem;
	letter-spacing: .3rem;
	padding: 3rem;
	text-align: center;
}

.sectionP .wrapP{
	height: 130vw;
	margin-top: 5vh;
	
}

.sectionA{
	height: 90vh;
	position: relative;
	text-align: left;
}


.sectionA .wrapA{
	height: 80vh;
}

.sectionA .profileImage{
	top: 17vh;
}

.sectionA .profileName{
	top: 20vh;
}

.sectionA .profilePosition{
	top: 27vh;
}

.sectionA .profileText{
	top: 50vh;
}

header{	
	z-index: 10000;
	position: fixed;
	text-align: center;
	background-color: rgba(255,255,255,.3);
	color: #bbb;
	width:100%;
	border-bottom: solid 1.5px #bbb;
}

.logoM{	
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 50px;
}

.logoM :hover{
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.logo {
	width:50px;
    height: 50px;
	background: url("../images/20190425a.png");
	 background-size: cover;
}



/* ハンバーガーメニュー　*/
#nav-drawer {
	left: 24vw;
  position: absolute;
	margin: 1rem 1rem 0rem;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #bbb;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
	font-family: 'Cormorant Unicase', serif;
	letter-spacing: .5rem;
  overflow: auto;
  position: fixed;
	display: block;
	text-align: center;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  padding: 1rem;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

#nav-content li{
	margin-top: 3rem;
	font-size: 1.2rem;
}

#nav-content a{
	color: #bbb;
	position: relative;
  display: inline-block;
	text-decoration: none;
}

#nav-content a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #0072bc;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

#nav-content a:hover{
		background-color: #fff;
		color: #0072bc;
}

#nav-content :hover::after{
	  transform-origin: left top;
  transform: scale(1, 1);
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.name{
	
	font-family: 'Cormorant Unicase', serif;
	position: absolute;
	top: 3vh;
	left: 65.5vw;
}

.name a{
	color: #bbb;
	text-decoration: none;
	transition: 1.0s ;
}

.name a:hover{
	color: #0072bc;
}

footer{
	width: 100%;
	text-align: center;
	bottom: 0;
	height:9%;
	background-color: rgba(255,255,255,.3);
	padding: 5px 0;
}


#top footer{
	position: fixed;
}


footer  div{
	padding-top: 5px;
    display: inline-block;
	height: 2rem;
    left: 50%;
}

.icon_t{
	z-index: 9999;
	background : url("../images/20190425a.png")
}

footer a {
	z-index: 9999;
  color:#fff;
  border:solid 2px #aaa;
  border-radius:30px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
	margin: 0 15px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

footer small{
	color: #999;
	font-size: .7rem;
}

footer a:hover {
  background: #0072bc;
	border-color: #0072bc;
  border-radius: 5px;
}


a span {
  color:#fff;
  position:absolute;
  font-family:serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 5px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#0072bc;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom:2rem;
  visibility:visible;
  opacity:1;
}



/*about*/
#about{	
 	background-color:#fff;
	color: #aaa;
	display: inline-block;
	width:100%;
	height: 100vh;
}

.wrapA{
	height: 91vh;
}

.profileImage{
	position: absolute;
	width: 20vh;
	height: 20vh;
	left: 25vw;
	top: 24vh;
	background: url("../images/0004_1.jpg");
	background-size: cover;
	border: 1.5px solid #ccc;
}

.profileName{
	font-family: 'Noto Serif JP', serif;
	position: absolute;
	left:44vw;
	top:27vh;
	width: 30vw;
	font-size: 1.2rem;
	border-bottom: 1px solid;
	padding: 5px 0px;
	letter-spacing: .2rem;
}

.profilePosition{
	font-family: 'Cormorant Unicase', serif;
	position: absolute;
	width: 34vw;
	left: 44vw;
	top: 34vh;	
	letter-spacing: .25rem;
	line-height: 1.7rem;
}

.profileText{
	font-family: 'Noto Serif JP', serif;
	border-top: 1px solid;
	padding: .7rem 0px ;
	width: 49vw;
	position: absolute;
	left: 25vw;
	top: 57vh;
	line-height: 1.5rem;
}


/*portfolio*/

#portfolio{
	
 	background-color:#fff;
	color: #aaa;
	display: inline-block;
	width:100%;
	height: 100vh;
}


.wrapP{
	background-color: rgba(255,255,255,0);
	height: 100vw;
	width: 70vw;
	margin:20vh 15vw 10px;
}

.wrapP img{
	width: 22vw;
	height: 22vw;
	object-fit: cover;

}

.wrapP div{
	float: left;
	margin-bottom: 2vw;
}

.imageC{
	margin: 0 2vw;
}

.illust1{
		object-position: 20% 50%;
}
.illust2{
		object-position: 50% 50%;
}
.illust3{
	object-position: 50% 50%;
}
.illust4{
	object-position: 50% 100%;
}
.illust5{
	object-position: 50% 50%;
}
.illust5{
	object-position: 50% 50%;
}
.illust6{
	object-position: 50% 0%;
}
.illust7{
	object-position: 0% 50%;
}
.illust8{
	object-position: 50% 50%;
}
.illust9{
	object-position: 50% 100%;
}
.illust10{
	object-position: 0% 80%;
}
.illust11{
	object-position: 50% 0%;
}

/*contact*/


#contact{
	background-color:#fff;
	color: #aaa;
	display: inline-block;
	width:100%;
	height: 100vh;
}

.wrapC{
	background-color: rgba(255,255,255,0);
	height: 220vh;
}


.iframe{
	position: relative;
	width: 100%;
	padding: 10vh 0 0 0;
}

.iframe iframe{
	position: absolute;
	top: 20vh;
	left: 5vw;
	width: 90vw;
	height: 200vh;
}
